
label.name {
    padding-right: 29px;
}
label.category {
    padding-right: 4px;
}
label.image {
    padding-right: 23px;
}
label.price {
    padding-right: 39px;
}
label.firstName {
    padding-right: 20px;
}
label.lastName {
    padding-right: 20px;
}
label.email {
    padding-right: 66px;
}
label.password {
    padding-right: 35px;
}
